@import "https://fonts.googleapis.com/css2?family=Sriracha&display=swap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid; */
}

body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(0 0 0 / 50%), rgba(0 0 0 / 50%)),
    url("../images/bgimag.jpeg");
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: aliceblue;
  padding: 2rem 15px;
  position: relative;
}

.main {
  width: 100%;
  height: 80%;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 2rem 0 0;
}

h1 {
  text-align: center;
}

label {
  font-size: 1.2rem;
  font-style: oblique;
  margin-bottom: 15px;
}

.div-for-input {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-left: 50px;
}

.second-string,
.first-string {
  width: 100%;
}

#str2,
#str1 {
  width: 40vw;
  height: 40px;
}

.div-for-check {
  width: 100%;
  text-align: center;
  margin-top: 3rem;
  /* margin-left: 5.5rem; */
}

.btn {
  padding: 10px 20px;
  width: 100px;
}

footer {
  position: absolute;
  bottom: 15px;
  right: 20px;
  font-style: italic;
  font-size: small;
}
.display {
  text-align: center;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  font-size: 2rem;
  font-weight: bold;
}

.to-show { 
  display: block;
}

span {
  font-size: 1.25rem;
}

@media screen and (max-width: 768px) {
  #str2,
  #str1 {
    width: 40vw;
    height: 35px;
  }

  .div-for-input {
    position: absolute;
    top: 20vh;
    left: 1px;
    right: 30px;
    width: auto;
  }

  .div-for-check {
    text-align: center;
    margin-top: 100px;
  }

  .btn {
    margin-left: 30px;
  }
  
  .display {
    margin-top: 15vh;
    width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .display {
    margin-top: 20vh;
    width: 100%;
  }

  body {
    padding-left: 0;
  }

  label {
    font-size: 1.2rem;
  }

  #str2,
  #str1 {
    width: 95%;
    height: 35px;
  }

  .div-for-input {
    gap: 10px;
    margin-left: 5px;
    width: 95%;
  }

.btn {
  margin-right: 30px;
}

  .main {
    /* justify-content: flex-start; */
    padding: 0;
  }

  h1 {
    margin-left: 40px;
  }

  .display {
    margin-left: 0;
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .div-for-input {
    flex-direction: column;
  }

  body {
    padding: 2rem 0; 
  }

  .div-for-check {
    margin-left: 0;
    margin-top: 80vh;
  }

  h1 {
    font-size: 1.75rem;
    margin-left: 0;
  }

  .display {
    margin-top: 50vh;
    margin-left: 10px;
  }

  #str1, #str2 {
    width: 90%;
  }
}
